@import "./assets/reset.css";

:root {
  —space: 1.5em 0;
  —space: 2em 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-content {
  flex: 1 0 auto;
  padding: var(— space) var(— space) 0;
  width: 100%;
}

.App-content::after {
  content: "\00a0";
  display: block;
  margin-top: var(— space);
  height: 0;
  visibility: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  margin: 0;
}

h1 {
  font-size: 3.8rem;
  /* 38px */
  line-height: 1;
  font-weight: 700;
  margin-bottom: 3.8rem;
}

h2 {
  font-size: 2.4rem;
  /* 24px */
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

h3 {
  font-size: 1.8rem;
  /* 18px */
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.4rem;
}

h4 {
  font-size: 1.6rem;
  /* 16px */
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 0.8rem;
}

h5 {
  font-size: 1.4rem;
  /* 14px */
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

p {
  font-size: 1.4rem;
  /* 14px */
  line-height: 1.2;
  margin-bottom: 1.2rem;
}

p:last-child {
  margin-bottom: 0;
}

/* Buttons */

button,
input {
  font-size: 12px;
}

button {
  color: #fff;
}

button:last-child,
input:last-child {
  margin-right: 0;
}
